// 通过检查页面元素className，可以在这里覆盖默认的主题样式
.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #fff;
}
.page .page-title {
   display: none;
}
.theme-container .sidebar {
    width: 15rem;
}